body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 3000px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#abcdef));
    background: -webkit-linear-gradient(top, #ffffff, #abcdef);
    background: -o-linear-gradient(top, #ffffff, #abcdef);
    background: linear-gradient(to bottom, #ffffff, #abcdef);
}

.btnup {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 100px;
    height: 100px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.btnup span {
    display: block;
    line-height: 100px;
    vertical-align: middle;
}
